:root {
    --dark-blue: #002443;
    --light-blue: #aed9ff;
    --medium-blue: #0088ff;
    --shade-blue: #0e5796;
    --check: #0ecfe0;
    --check2: #8864f0;
    --check3: #f00bfc;
}

.classname-area {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.classname {
    text-transform: uppercase;
}

.class-member-btn {
    display: none;
}

.class-settings-open-btn {
    color: black;
}


.toggle-btns {
    display: flex;
    justify-content: center;
}

.toggle-butn {
    padding: 0.5rem 1rem;
    width: 8rem;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    color: #002443;
    background-color: #aed9ff;
    border: none;
    box-shadow: 0px 7px #999;
    margin-bottom: 1rem;
}

.btn-left {
    border-radius: 1rem 0rem 0rem 1rem;
}

.btn-right {
    border-radius: 0rem 1rem 1rem 0rem;
}

.btn-active {
    background-color: var(--check2);
    box-shadow: 0 5px #666;
    transform: translate(0px, 2px);
    color: white;
}





.classdata-area {
    background-color: var(--check2);
    height: 40rem;
}




/* Members  */
.members {
    border: 2px solid var(--dark-blue);
    padding: 1rem;
    border-radius: 0.2rem;
    box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.25);
}

.members h5 {
    text-align: center;
    font-weight: 500;
    padding: 0.1rem;
    letter-spacing: 0.2px;
    border-bottom: 1px solid var(--check2);
}

.all-class-teachers .label {
    text-align: center;
    color: #002443;
    position: relative;
}

.add-teacher-btn {
    position: absolute;
    right: 0;
    top: 0;
}

.teachers-list {
    background-color: var(--light-blue);
    border-radius: 0.3rem;
}

.teacher {
    border-bottom: 1px solid var(--dark-blue);
    border-radius: 0.3rem;
    padding: 0.4rem;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    display: flex;
    gap: 0.3rem;
}

.teacher img {
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 1rem;
}



.all-class-students .label {
    text-align: center;
    margin-top: 1rem;
}

.students-list {
    background-color: #f00bfc7e;
    border-radius: 0.3rem;
    max-height: 30rem;
    overflow: scroll;
}

.students-list::-webkit-scrollbar {
    display: none;
}

.student {
    border-bottom: 1px solid var(--dark-blue);
    border-radius: 0.3rem;
    padding: 0.4rem;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    display: flex;
    gap: 0.3rem;
}

.student img {
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 1rem;
}

.view-all-btn {
    text-align: center;
    cursor: pointer;
}

.display {
    display: block;
}

@media (max-width: 600px) {
    .class-member-btn {
        display: block;
    }

    .mobile-hidden {
        display: none;
    }
}